.span10
  .offset1
    %img{:src => "http://reunionpong.s3.amazonaws.com/bruceleepong.jpg"}
.hero-unit.span10{:style => "height: 300px"}
  %h1 D'08 5th Year Reunion
  %h1 Pong Tourney
  %br
  %h2 Show off what 5 years of alumniship has done to your pong game.
  %br
  %h4 Register here to create or join a team.
  %h4 Brakets coming soon
  %h4 Cities participating thus far: NYC, San Fran

  %br
  %h3 Final rounds to be played at reunion this June!

  = link_to "Sign Up", new_user_registration_path, {:class=>'btn btn-primary btn-large'}

